.tabrows{
	position:fixed;
	top:30%;
}
body {
  background-color: #b0c4de;
}


.modal-dialog {
  padding-top: 30%;
}

.button-row{
	position:fixed;
	top:23%;
	left:30%;
}

.btn-1{
	position:fixed;
	left:25%;
}

.btn-2{
	position:fixed;
	left:45%;
}

.btn-3{
	position:fixed;
	left:70%;
}



.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}